.cities {
  display: flex;
  flex-direction: column;
  position: relative;
  color: $white;
  height: 100vh;
  text-align: center;
  background: url('../img/cities-bg.jpg') no-repeat center/cover;
}
.cities__title {
  margin-bottom: 5px;
}
.cities__text {
  margin-top: auto;
  font-size: 15px;
  line-height: 21px;
  text-transform: uppercase;
  color: #1fbad6;
  cursor: pointer;
}
.cities__btn {
  color: #070716;
  background-color: $white;
}